.test{
    display: flex;
    flex-direction: column;
}
.test>div{
    height: 3rem;
    display:grid;
    grid-template-columns:1.5fr 1fr 1fr 6fr 1fr 1fr;
}
.test>div:first-child{
    text-align: center;
}
.test>div>span:not(:nth-child(4)){
    text-align: center;
}
.test>div:nth-child(2n){
    background-color: aliceblue;
}

.test>div:nth-child(10n+1){
    border-bottom: 2px solid red;
}
